@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #ffffff; 
}

header h1 {
    font-family: 'Jost', sans-serif;
    margin: 0;
    color: #000000;
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    position: absolute; 
    left: 20%;
   
}

.header-span-blog {
    font-size: 15px; 
}

.header-span-fromany {
    font-size: 10px; 
}

.header-nav {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

header nav {
    display: flex;
    gap: 35px; 
    margin: 0 auto; 
}

header nav a {
    font-family: 'Jost', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}


@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px; 
    }

    header h1 {
        position: static; 
        font-size: 24px; 
        margin-bottom: 20px; 
    }

    .header-nav {
        flex-direction: column; 
        gap: 10px; 
        width: 100%; 
        align-items: center; 
    }

    header nav a {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px; 
    }

    .header-span-blog {
        font-size: 20px; 
    }

    .header-span-fromany {
        font-size: 16px; 
    }
}



.cover-photo {
    position: relative;
    background-image: url('../assets/coverimg.jpeg'); 
    background-size: cover;
    background-position: center;
    min-height: 90vh; 
    margin-top: 20px;
    border-radius: 2px;
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.blog-from {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 34px; 
    margin-bottom: 0;
}

.anywhere {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 70px; 
    font-weight: bold;
}


.container {
    max-width: 80%;
    margin: auto;
}

.blog-list, .blog-detail {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.blog-list-heading {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}

#blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.blog-post {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 400px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #534e4e;
}

.blog-title {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #151515;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #ef53a9;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}


.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #333;
    margin-bottom: 10px;
}

#comment-form input, #comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#comment-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #555;
}

.footer {
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(73, 74, 75); 
    font-size: 14px; 
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: rgb(186, 202, 239);
}
  