@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:#204541;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #ffffff; 
}

header h1 {
    font-family: 'Jost', sans-serif;
    margin: 0;
    color: #000000;
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    position: absolute; 
    left: 20%;
   
}

.header-span-blog {
    font-size: 15px; 
}

.header-span-fromany {
    font-size: 10px; 
}

.header-nav {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

header nav {
    display: flex;
    gap: 35px; 
    margin: 0 auto; 
}

header nav a {
    font-family: 'Jost', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}


@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px; 
    }

    header h1 {
        position: static; 
        font-size: 24px; 
        margin-bottom: 20px; 
    }

    .header-nav {
        flex-direction: column; 
        gap: 10px; 
        width: 100%; 
        align-items: center; 
    }

    header nav a {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px; 
    }

    .header-span-blog {
        font-size: 20px; 
    }

    .header-span-fromany {
        font-size: 16px; 
    }
}



.cover-photo {
    position: relative;
    background-image: url('../assets/coverimg.jpeg'); 
    background-size: cover;
    background-position: center;
    min-height: 90vh; 
    margin-top: 20px;
    border-radius: 2px;
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.blog-from {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 34px; 
    margin-bottom: 0;
}

.anywhere {
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 70px; 
    font-weight: bold;
}

@media screen and (max-width: 425px) {
   .anywhere{
    font-size: 60px;
   } 
}


.container {
    max-width: 80%;
    margin: auto;
}

.blog-list, .blog-detail {
    background-color: #fffefa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.blog-list-heading {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: #115350;
}

#blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}


.blog-title {
    color: #a6dcdf;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #e7f1f5;
    overflow: hidden; 
    /* text-overflow: ellipsis;  */
    /* white-space: nowrap;   */
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    color: #87b786;
    background-color: #111f23;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #486e6b;
}

.blog-post {
    background: #204f4b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 400px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #534e4e;
}
/* Individual Blog Post */

#blog-title{
    font-family: 'Jost', sans-serif;
    font-size: 47px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

#blog-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.indiBlog-comment{
    margin-top: 80px;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
}
#comments{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #333;
    margin-bottom: 10px;
}

.indiBlog-addComment{
    font-family: 'Jost', sans-serif;
    margin-top: 60px;
    font-size: 25px;
}

#comment-form input, #comment-form textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #383d3b;
    border-radius: 5px;
}

#comment-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #555;
}

.footer {
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px; 
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: rgb(44 132 127);
}
  


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}

/* Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
